blueprint.json
{
    "name": "記憶庫自動通知",
    "flow": [
        {
            "id": 1,
            "module": "rss:TriggerNewArticle",
            "version": 4,
            "parameters": {
                "url": "https://www.inoreader.com/stream/user/1004693285/tag/%E8%A8%98%E6%86%B6%E5%BA%AB%E8%BF%BD%E8%B9%A4",
                "gzip": true,
                "include": [],
                "password": "",
                "username": "",
                "maxResults": 100
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 49,
                    "y": 452
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "dateUpdated",
                        "type": "date",
                        "label": "Date updated"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "comments",
                        "type": "url",
                        "label": "Comments"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Image"
                    },
                    {
                        "name": "categories",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "source",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Source"
                    },
                    {
                        "name": "enclosures",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length"
                            }
                        ],
                        "type": "array",
                        "label": "Enclosures"
                    },
                    {
                        "help": "Other RSS fields. All values are in text format.",
                        "name": "rssFields",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "title"
                            },
                            {
                                "name": "link",
                                "type": "text",
                                "label": "link"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "description"
                            },
                            {
                                "name": "pubdate",
                                "type": "text",
                                "label": "pubdate"
                            },
                            {
                                "name": "category",
                                "type": "text",
                                "label": "category"
                            },
                            {
                                "name": "source",
                                "type": "text",
                                "label": "source"
                            },
                            {
                                "name": "guid",
                                "type": "text",
                                "label": "guid"
                            }
                        ],
                        "type": "collection",
                        "label": "RSS fields"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 450
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "regexp:AdvancedParser",
                            "version": 1,
                            "parameters": {
                                "global": false,
                                "multiline": false,
                                "sensitive": true,
                                "singleline": false,
                                "advancedParser": true,
                                "continueWhenNoRes": false
                            },
                            "filter": {
                                "name": "數字追蹤",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.source.title}}",
                                            "b": "追蹤",
                                            "o": "text:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "{{1.summary}}",
                                "pattern": "<del>(.*?)<\\/del><ins>(.*?)<\\/ins>"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 0
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    },
                                    {
                                        "name": "advancedParser",
                                        "type": "hidden"
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 4,
                            "module": "line:sendANotification",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 11365
                            },
                            "filter": {
                                "name": "Not 0",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{5.name}}",
                                            "b": "0",
                                            "o": "text:notequal"
                                        },
                                        {
                                            "a": "{{5.value}}",
                                            "b": "0",
                                            "o": "text:notequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "message": "記憶庫數字變動了！\n系統：{{1.source.title}}\n原數字：{{5.value}}\n新數字：{{5.name}}",
                                "addSticker": false,
                                "notificationDisabled": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Empty"
                                        },
                                        "addSticker": {
                                            "mode": "chose"
                                        },
                                        "notificationDisabled": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "line"
                                            },
                                            "label": "記憶庫機器人"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:line",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message",
                                        "required": true,
                                        "validate": {
                                            "max": 1000
                                        }
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Upload an Image",
                                        "validate": {
                                            "enum": [
                                                "url",
                                                "file"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "addSticker",
                                        "type": "boolean",
                                        "label": "Add a Sticker",
                                        "required": true
                                    },
                                    {
                                        "name": "notificationDisabled",
                                        "type": "boolean",
                                        "label": "Disable a Push Notification",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 8,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 104938
                            },
                            "mapper": {
                                "mode": "select",
                                "values": {
                                    "0": "{{1.dateUpdated}}",
                                    "1": "{{1.rssFields.source}}",
                                    "2": "{{5.name}}",
                                    "3": "{{5.value}}"
                                },
                                "sheetId": "數字追蹤",
                                "spreadsheetId": "1HwX9qHhWdQuVUtv0nW9iC-fGoZNQqDTcsfsgbyyAHLU",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1200,
                                    "y": 0
                                },
                                "restore": {
                                    "expect": {
                                        "mode": {
                                            "label": "Select spreadsheet and sheet"
                                        },
                                        "sheetId": {
                                            "label": "數字追蹤"
                                        },
                                        "spreadsheetId": {
                                            "label": "記憶庫機器人 - 自動紀錄"
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "日期時期 (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "系統 (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "原數字 (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "新數字 (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "(E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "(F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "(G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "(H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "(I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "(J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "(K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "(L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "記憶庫Google (culturememoryiii@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Mode",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "select",
                                        "label": "Spreadsheet",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "日期時期 (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "系統 (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "原數字 (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "新數字 (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "(E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "(F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "(G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "(H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "(I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "(J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "(K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "(L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 2,
                            "module": "line:sendANotification",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 11365
                            },
                            "filter": {
                                "name": "資料內容",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.source.title}}",
                                            "b": "追蹤",
                                            "o": "text:notcontain"
                                        },
                                        {
                                            "a": "{{1.rssFields.source}}",
                                            "b": "Google",
                                            "o": "text:notcontain"
                                        },
                                        {
                                            "a": "{{1.url}}",
                                            "b": "facebook",
                                            "o": "text:notcontain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "message": "追蹤機器人 發現新資料拉：\n{{1.title}}\n快點過來看看：\n{{1.rssFields.link}}",
                                "addSticker": false,
                                "notificationDisabled": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 714,
                                    "y": 270
                                },
                                "restore": {
                                    "select": {
                                        "label": ""
                                    },
                                    "addSticker": {
                                        "mode": "chose"
                                    },
                                    "__IMTCONN__": {
                                        "label": "記憶庫機器人"
                                    },
                                    "notificationDisabled": {
                                        "mode": "chose"
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message",
                                        "required": true,
                                        "validate": {
                                            "max": 1000
                                        }
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Upload an Image",
                                        "validate": {
                                            "enum": [
                                                "url",
                                                "file"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "addSticker",
                                        "type": "boolean",
                                        "label": "Add a Sticker",
                                        "required": true
                                    },
                                    {
                                        "name": "notificationDisabled",
                                        "type": "boolean",
                                        "label": "Disable a Push Notification",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 22,
                            "module": "regexp:HTMLToText",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "html": "{{1.rssFields.description}}",
                                "newline": "lf",
                                "uppercaseHeadings": true
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1005,
                                    "y": 266
                                },
                                "restore": {
                                    "expect": {
                                        "newline": {
                                            "label": "LF (\\n) - Unix/Mac OS X"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "html",
                                        "type": "text",
                                        "label": "HTML"
                                    },
                                    {
                                        "name": "newline",
                                        "type": "select",
                                        "label": "Line break",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "lf",
                                                "crlf",
                                                "cr"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "uppercaseHeadings",
                                        "type": "boolean",
                                        "label": "Uppercase headings",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 24,
                            "module": "regexp:Parser",
                            "version": 1,
                            "parameters": {
                                "global": false,
                                "pattern": "[\\s\\S]{0,0}([^<br>]{1,5000})",
                                "multiline": false,
                                "sensitive": true,
                                "singleline": false,
                                "continueWhenNoRes": false
                            },
                            "mapper": {
                                "text": "{{22.text}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1367,
                                    "y": 276
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "$1",
                                        "type": "text",
                                        "label": "$1"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 104938
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{1.rssFields.source}}",
                                    "1": "{{1.rssFields.title}}",
                                    "2": "{{24.`$1`}}",
                                    "3": "{{1.rssFields.link}}",
                                    "4": "{{1.author}}",
                                    "10": "{{1.rssFields.pubdate}}"
                                },
                                "sheetId": "相關資料來源",
                                "spreadsheetId": "/1HwX9qHhWdQuVUtv0nW9iC-fGoZNQqDTcsfsgbyyAHLU",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1684,
                                    "y": 285
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Select from the list"
                                        },
                                        "sheetId": {
                                            "label": "相關資料來源"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "1HwX9qHhWdQuVUtv0nW9iC-fGoZNQqDTcsfsgbyyAHLU"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "來源 (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "標題 (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "內容 (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "網址 (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "作者 (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "TAG (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "使用族群 (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "相關原始記憶庫網址 (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "處理方式 (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "月份 (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "PostDate (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "進度追蹤 (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "記憶庫Google (culturememoryiii@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Choose a Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "來源 (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "標題 (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "內容 (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "網址 (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "作者 (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "TAG (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "使用族群 (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "相關原始記憶庫網址 (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "處理方式 (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "月份 (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "PostDate (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "進度追蹤 (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 7,
                            "module": "line:sendANotification",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 11365
                            },
                            "filter": {
                                "name": "是 Google 的",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.rssFields.source}}",
                                            "b": "追蹤",
                                            "o": "text:notcontain"
                                        },
                                        {
                                            "a": "{{1.rssFields.source}}",
                                            "b": "Google",
                                            "o": "text:contain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "message": "追蹤機器人表示：發現有人在網路上使用記憶庫的資料，被 Google 檢索到了阿！\n{{1.title}}\n點連結閱讀該資料：\n{{1.rssFields.link}}",
                                "addSticker": false,
                                "notificationDisabled": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 749,
                                    "y": 587
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Empty"
                                        },
                                        "addSticker": {
                                            "mode": "chose"
                                        },
                                        "notificationDisabled": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "line"
                                            },
                                            "label": "記憶庫機器人"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:line",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message",
                                        "required": true,
                                        "validate": {
                                            "max": 1000
                                        }
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Upload an Image",
                                        "validate": {
                                            "enum": [
                                                "url",
                                                "file"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "addSticker",
                                        "type": "boolean",
                                        "label": "Add a Sticker",
                                        "required": true
                                    },
                                    {
                                        "name": "notificationDisabled",
                                        "type": "boolean",
                                        "label": "Disable a Push Notification",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 104938
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{1.rssFields.source}}",
                                    "1": "{{1.rssFields.title}}",
                                    "2": "{{1.rssFields.description}}",
                                    "3": "{{1.rssFields.link}}",
                                    "4": "{{1.author}}",
                                    "10": "{{1.rssFields.pubdate}}"
                                },
                                "sheetId": "相關資料來源",
                                "spreadsheetId": "/1HwX9qHhWdQuVUtv0nW9iC-fGoZNQqDTcsfsgbyyAHLU",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1078,
                                    "y": 592
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Select from the list"
                                        },
                                        "sheetId": {
                                            "label": "相關資料來源"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "1HwX9qHhWdQuVUtv0nW9iC-fGoZNQqDTcsfsgbyyAHLU"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "來源 (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "標題 (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "內容 (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "網址 (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "作者 (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "TAG (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "使用族群 (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "相關原始記憶庫網址 (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "處理方式 (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "月份 (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "PostDate (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "進度追蹤 (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "記憶庫Google (culturememoryiii@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Choose a Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "來源 (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "標題 (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "內容 (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "網址 (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "作者 (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "TAG (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "使用族群 (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "相關原始記憶庫網址 (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "處理方式 (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "月份 (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "PostDate (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "進度追蹤 (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 16,
                            "module": "regexp:Parser",
                            "version": 1,
                            "parameters": {
                                "global": false,
                                "pattern": "[\\s\\S]{0,0}([^<br>]{1,300})",
                                "multiline": false,
                                "sensitive": true,
                                "singleline": false,
                                "continueWhenNoRes": false
                            },
                            "filter": {
                                "name": "來自 FB",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{1.url}}",
                                            "b": "facebook",
                                            "o": "text:contain"
                                        },
                                        {
                                            "a": "{{1.rssFields.source}}",
                                            "b": "Google",
                                            "o": "text:notcontain"
                                        },
                                        {
                                            "a": "{{1.source.title}}",
                                            "b": "追蹤",
                                            "o": "text:notcontain"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "text": "{{1.title}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 562,
                                    "y": 850
                                },
                                "restore": {},
                                "parameters": [
                                    {
                                        "name": "pattern",
                                        "type": "text",
                                        "label": "Pattern",
                                        "required": true
                                    },
                                    {
                                        "name": "global",
                                        "type": "boolean",
                                        "label": "Global match",
                                        "required": true
                                    },
                                    {
                                        "name": "sensitive",
                                        "type": "boolean",
                                        "label": "Case sensitive",
                                        "required": true
                                    },
                                    {
                                        "name": "multiline",
                                        "type": "boolean",
                                        "label": "Multiline",
                                        "required": true
                                    },
                                    {
                                        "name": "singleline",
                                        "type": "boolean",
                                        "label": "Singleline",
                                        "required": true
                                    },
                                    {
                                        "name": "continueWhenNoRes",
                                        "type": "boolean",
                                        "label": "Continue the execution of the route even if the module finds no matches",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "text",
                                        "type": "text",
                                        "label": "Text"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "$1",
                                        "type": "text",
                                        "label": "$1"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 17,
                            "module": "line:sendANotification",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 11365
                            },
                            "mapper": {
                                "message": "追蹤機器人 發現在 Facebook 有新的應用拉：\n\n作者：{{1.author}}\n{{16.`$1`}}......(全文請到原始網址）\n\n快點過來看看：\n{{1.rssFields.link}}",
                                "addSticker": false,
                                "notificationDisabled": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1035,
                                    "y": 879
                                },
                                "restore": {
                                    "expect": {
                                        "select": {
                                            "label": "Empty"
                                        },
                                        "addSticker": {
                                            "mode": "chose"
                                        },
                                        "notificationDisabled": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "line"
                                            },
                                            "label": "記憶庫機器人"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:line",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message",
                                        "required": true,
                                        "validate": {
                                            "max": 1000
                                        }
                                    },
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Upload an Image",
                                        "validate": {
                                            "enum": [
                                                "url",
                                                "file"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "addSticker",
                                        "type": "boolean",
                                        "label": "Add a Sticker",
                                        "required": true
                                    },
                                    {
                                        "name": "notificationDisabled",
                                        "type": "boolean",
                                        "label": "Disable a Push Notification",
                                        "required": true
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 104938
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{1.rssFields.source}}",
                                    "1": "{{1.rssFields.title}}",
                                    "2": "{{1.rssFields.description}}",
                                    "3": "{{1.rssFields.link}}",
                                    "4": "{{1.author}}",
                                    "10": "{{1.rssFields.pubdate}}"
                                },
                                "sheetId": "相關資料來源",
                                "spreadsheetId": "/1HwX9qHhWdQuVUtv0nW9iC-fGoZNQqDTcsfsgbyyAHLU",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1443,
                                    "y": 835
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Select from the list"
                                        },
                                        "sheetId": {
                                            "label": "相關資料來源"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "1HwX9qHhWdQuVUtv0nW9iC-fGoZNQqDTcsfsgbyyAHLU"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "來源 (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "標題 (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "內容 (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "網址 (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "作者 (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "TAG (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "使用族群 (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "相關原始記憶庫網址 (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "處理方式 (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "月份 (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "PostDate (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "進度追蹤 (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "(M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "(N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "(O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "(P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "(Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "(R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "(S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "(T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "(U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "(V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "(W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "(X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "(Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "(Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "記憶庫Google (culturememoryiii@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Choose a Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Choose a Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "來源 (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "標題 (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "內容 (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "網址 (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "作者 (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "TAG (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "使用族群 (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "相關原始記憶庫網址 (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "處理方式 (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "月份 (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "PostDate (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "進度追蹤 (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "(M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "(N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "(O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "(P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "(Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "(R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "(S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "(T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "(U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "(V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "(W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "(X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "(Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "(Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": false,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}